.header {
  width: 1440px;
  height: 180px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  box-shadow: -0.2px 3px 16px #eaeaea;
}

.main-header {
  display: flex;
}

.nav {
  display: flex;

  text-transform: uppercase;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
